<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.OctupusTea.Accounting"
    android:installLocation="internalOnly"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryView"
            android:label="@string/title_activity_categoryView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountView"
            android:label="@string/title_activity_accountView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlarmSetting"
            android:label="@string/title_activity_alarmSetting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountAdd"
            android:label="@string/title_activity_accountAdd"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_statisticsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlarmPick"
            android:label="AlarmReceiver"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BackupActivity"
            android:label="BackupActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="accountingNotify"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".AlarmInitReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>