<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.OctupusTea.Accounting">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name="com.github.OctupusTea.Accounting.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.OctupusTea.Accounting.categoryView"
            android:label="@string/title_activity_category_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.OctupusTea.Accounting.accountView"
            android:label="@string/title_activity_accountview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.OctupusTea.Accounting.notificationSetting"
            android:label="@string/title_activity_remindsetting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.OctupusTea.Accounting.accountAdd"
            android:label="@string/title_activity_accountadd"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.OctupusTea.Accounting.statistics"
            android:label="@string/title_activity_statistics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.OctupusTea.Accounting.numericPassword"
            android:label="@string/title_activity_numberpassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.OctupusTea.Accounting.patternLock"
            android:label="@string/title_activity_photopassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.OctupusTea.Accounting.passwordSetting"
            android:label="@string/title_activity_passwordsetting"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>