<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.OctupusTea.Accounting">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name="com.github.OctupusTea.Accounting.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.OctupusTea.Accounting.categoryView"
            android:label="@string/title_activity_categoryView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.OctupusTea.Accounting.accountView"
            android:label="@string/title_activity_accountView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.OctupusTea.Accounting.alarmSetting"
            android:label="@string/title_activity_alarmSetting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.OctupusTea.Accounting.accountAdd"
            android:label="@string/title_activity_accountAdd"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.OctupusTea.Accounting.statisticsActivity"
            android:label="@string/title_activity_statisticsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.OctupusTea.Accounting.numericPassword"
            android:label="@string/title_activity_numericPassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.OctupusTea.Accounting.patternLock"
            android:label="@string/title_activity_patternLock"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.OctupusTea.Accounting.passwordSetting"
            android:label="@string/title_activity_passwordSetting"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>